* {
    font-family: Segoe UI, sans-serif
}

QMainWindow {
    background: #121212;
}

QPushButton {
    color: #B9B9B9;
    border: 1px solid #646466;
    border-radius: 4px;
    background: transparent;
    padding: 4px 8px;
}

QPushButton:hover {
    background: #1C1C20;
    border-color: #B9B9B9;
}